<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Ajouter un document</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="formationForm" class="form-theme">

                        <label for="idformation">Titre Formation</label>
                        <input required id="idformation" type="number" formControlName="idformation"
                               class="form-control">

                        <label for="periode">Periode</label>
                        <input required id="periode" type="text" formControlName="periode" class="form-control">

                        <label for="pathcomformation">Communiquée de fomartion</label>
                        <input required id="pathcomformation" type="file" formControlName="pathcomformation" class="form-control"
                               (change)="onFileSelected({event : $event})">

                        <label for="file">Upload liste participant</label>
                        <input required id="file" type="file" formControlName="file" class="form-control"
                               (change)="onFileSelected({event : $event})">
                        <br>
                        <button class="btn btn-primary" (click)="onUpload()">Envoyer</button>



                    </form>
                </div>
            </div>


        </div>
    </div>
</div>
