<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div><h3 class="text-center font-weight-light my-4">Mise à jour Athlé-santé</h3>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="thead-inverse">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Sexe</th>
                    <th scope="col">Date de naissance</th>
                    <th scope="col">Lieu</th>
                    <th scope="col">Club</th>
                    <th scope="col">Club à l'étranger</th>
                    <th scope="col">Disciplines1</th>
                    <th scope="col">Disciplines2</th>
                    <th scope="col">Meilleur Performances</th>
                    <th scope="col">Meilleur Performances</th>
                    <th scope="col">Etablissement</th>
                    <th scope="col">Classe</th>
                    <th scope="col">Encadreur Technique</th>
                    <th scope="col">N° passeport</th>
                    <th scope="col">Validité</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Pointure</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td scope="row" style="width:50%">
                        <sb-test [(ngModel)]="athle.id" type="text"></sb-test>
                    </td>
                    <td scope="row" style="width:50%">
                        <sb-test [(ngModel)]="athle.nom" type="text"></sb-test>
                    </td>
                    <td scope="row" style="width:50%">
                        <sb-test [(ngModel)]="athle.prenom" type="text"></sb-test>
                    </td>
                    <td scope="row" style="width:50%">
                        <sb-test [(ngModel)]="athle.sexe" type="text"></sb-test>
                    </td>
                    <td scope="row" style="width:50%">
                        <sb-test [(ngModel)]="athle.ddn" type="text"></sb-test>
                    </td>
                    <td scope="row" style="width:50%">
                        <sb-test [(ngModel)]="athle.lieu" type="text"></sb-test>
                    </td>
                    <td scope="row" style="width:50%">
                        <sb-test [(ngModel)]="athle.club" type="text"></sb-test>
                    </td>
                    <td scope="row" style="width:50%">
                        <sb-test [(ngModel)]="athle.clubetranger" type="text"></sb-test>
                    </td>
                    <td scope="row" style="width:50%">
                        <sb-test [(ngModel)]="athle.discipline1" type="text"></sb-test>
                    </td>
                    <td scope="row" style="width:50%">
                        <sb-test [(ngModel)]="athle.discipline2" type="text"></sb-test>
                    </td>
                    <td scope="row" style="width:50%">
                        <sb-test [(ngModel)]="athle.Meilleurperfo1" type="text"></sb-test>
                    </td>
                    <td scope="row" style="width:50%">
                        <sb-test [(ngModel)]="athle.Meilleurperfo2" type="text"></sb-test>
                    </td>
                    <td scope="row" style="width:50%">
                        <sb-test [(ngModel)]="athle.etablissement" type="text"></sb-test>
                    </td>
                    <td scope="row" style="width:50%">
                        <sb-test [(ngModel)]="athle.classe" type="text"></sb-test>
                    </td>
                    <td scope="row" style="width:50%">
                        <sb-test [(ngModel)]="athle.encadreurtech" type="text"></sb-test>
                    </td>
                    <td scope="row" style="width:50%">
                        <sb-test [(ngModel)]="athle.Npasseport" type="text"></sb-test>
                    </td>
                    <td scope="row" style="width:50%">
                        <sb-test [(ngModel)]="athle.validite" type="text"></sb-test>
                    </td>
                    <td scope="row" style="width:50%">
                        <sb-test [(ngModel)]="athle.telephone" type="text"></sb-test>
                    </td>
                    <td scope="row" style="width:50%">
                        <sb-test [(ngModel)]="athle.adremail" type="text"></sb-test>
                    </td>
                    <td scope="row" style="width:50%">
                        <sb-test [(ngModel)]="athle.adresse" type="text"></sb-test>
                    </td>
                    <td scope="row" style="width:50%">
                        <sb-test [(ngModel)]="athle.pointure" type="text"></sb-test>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>

